.table th, .table td {
    text-align:center;   
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

.bordered {
    border-style:solid;
    border-width:2px;
    padding:10px;
}

.red {
    color:red;
}

.green {
    color:green;
}

a {
    text-decoration: none;
}
