.table th, .table td {
    text-align:center;   
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

.bordered {
    border-style:solid;
    border-width:2px;
    padding:10px;
}

.red {
    color:red;
}

.green {
    color:green;
}

.green-well {
    background-color: #1abc9c;
    color:white;
    text-align: center;
}

.spaced-out{
    margin-bottom:30px;
}

body {
    font-family: "Lato",​sans-serif;
}

a {
    text-decoration: none;
}

