<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
{% load staticfiles %}
<head>
  <link href="/static/budget/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/budget/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/static/budget/css/custom.css" rel="stylesheet">
  <script type="text/javascript" src="/static/budget/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/budget/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/budget/js/bootstrap-responsive.min.js"></script>
  <script type="text/javascript" src="/static/budget/js/jquery.jeditable.mini.js"></script>

  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Waterloo Banking Budget</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="/">Planning</a>
              </li>
              <li class="">
                <a href="/tracking/">Tracking</a>
              </li>
              <li class="">
                <a href="/user/edit/">Edit User</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="width:85%">
        <br/><br/><br/>
{% block content %}{% endblock %}
{% block footer %}{% endblock %} 
    </div>           

</body>
</html>