{% extends "base.html" %}

{% block title %} Create User {% endblock %}

{% block content %}
<br />
<br />
<form id="create_user" class="form-horizontal" action='/create_user/' method="POST">  
    <div class="control-group">
        <label class="control-label"  for="username">Username</label>
        <div class="controls">
            <input type="text" id="username" name="username" placeholder="" class="input-xlarge">        
            <span id="username_avail" style="color:green;display:none;">Username Available</span>
            <span id="username_unavail" style="color:red;display:none;">Username Unavailable</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
        </div>
  </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-success">Create User</button>
        </div>
    </div>
</form>
<script type="text/javascript"> 
$(function() {
    $('#username').focusout(function() {
        $.ajax({
            type: "POST",
            url: "/check_username",
            data: { username: $('#username').val()}
        }).done(function( msg ) {
            $("#username_unavail").hide();
            $("#username_avail").show();
        }).fail(function() { 
            $("#username_unavail").show();
            $("#username_avail").hide();
        });
    });

});

</script>             
{% endblock %}