{% extends "base.html" %}

{% block title %} Test {% endblock %}

{% block planning %}active{% endblock %}

{% block content %}
<div class="container">
<div class="well green-well" >
    Welcome!</br>
    This website will help you figure out your financial goals...
</div>    
<form class="form-horizontal" action='/user/update/' method="POST">  
    <div class="row spaced-out">
        <div class="offset2 span4">
            <h4>When Did You Start University?</h4>
            <div class="well green-well" >Explanation Text such as when school starts eg. 2011</div>
        </div>
        <div class="span6">
            <select id="program_length" name="program_length">
                <option value="3">3 Year</option>
                <option value="4">4 Year</option>
                <option value="5">5 Year</option>
            </select>
        </div>
    </div>
    <div class="row spaced-out">
        <div class="offset2 span4">When Do You Graduate?</div>
        <div class="span6">
            <select id="program_length" name="program_length">
                <option value="3">3 Year</option>
                <option value="4">4 Year</option>
                <option value="5">5 Year</option>
            </select>
        </div>
    </div>
    <div class="row spaced-out">
        <div class="offset2 span4">How Much Do You Have Saved Up?</div>
        <div class="span6">
            <select id="program_length" name="program_length">
                <option value="3">3 Year</option>
                <option value="4">4 Year</option>
                <option value="5">5 Year</option>
            </select>
        </div>
    </div>
    <div class="row spaced-out">
        <div class="offset2 span4">How Much Debt Do You Have?</div>
        <div class="span6">
            <select id="program_length" name="program_length">
                <option value="3">3 Year</option>
                <option value="4">4 Year</option>
                <option value="5">5 Year</option>
            </select>
        </div>
    </div>
</form>
</div>


{% endblock %}