{% extends "base.html" %}

{% block title %} Edit User Info {% endblock %}

{% block user_edit %}active{% endblock %}

{% block content %}

<form class="form-horizontal" action='/user/update/' method="POST">  
    <div class="control-group">
        <label class="control-label"  for="first_name">First Name</label>
        <div class="controls">
            <input type="text" id="first_name" name="first_name" placeholder="" class="input-xlarge" value="{{budget_user.first_name}}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"  for="last_name">Last Name</label>
        <div class="controls">
            <input type="text" id="last_name" name="last_name" placeholder="" class="input-xlarge" value="{{budget_user.last_name}}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"  for="program">Program</label>
        <div class="controls">
            <input type="text" id="program" name="program" placeholder="" class="input-xlarge" value="{{budget_user.program}}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"  for="program_length">Program Length</label>
        <div class="controls">
            <select id="program_length" name="program_length">
                <option value="3">3 Year</option>
                <option value="4">4 Year</option>
                <option value="5">5 Year</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"  for="current_year">Current Year</label>
        <div class="controls">
            <select id="current_year" name="current_year">
                <option value="1">First Year</option>
                <option value="2">Second Year</option>
                <option value="3">Third Year</option>
                <option value="4">Fourth Year</option>
                <option value="5">Fifth Year</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"  for="current_term">Current Term</label>
        <div class="controls">
            <select id="current_term" name="current_term">
                <option value="1">Fall</option>
                <option value="2">Winter</option>
                <option value="3">Spring</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="coop">Coop</label>
        <div class="controls">
            <select id="coop" name="coop" >
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>
    </div>

    <div id="sequence">
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-success">Update User Info</button>
        </div>
    </div>
</form>  

<script type="text/javascript">
$(document).ready(function() {

    function append_sequence_selects() {
        $('#sequence').empty();
        var length = parseInt($('#program_length').val());
        var current = parseInt($('#current_year').val());
        var coop = $('#coop').val() == 'True' ? 1 : 0;

        for (var i = 0; i <= length - current; i++) {
            var div_str = '';
            var year = i + current;
            if (coop) {
                div_str =   '<div class="control-group">' +
                                '<label class="control-label" for="'+year+'_sequence">Year '+year+' Sequence</label>' +
                                '<div class="controls">' +
                                    '<select id="'+year+'_sequence" name="'+year+'_sequence" >' + 
                                        '<option value="SSW">Study, Study, Work</option>' +
                                        '<option value="SWW">Study, Work, Work</option>' +
                                        '<option value="SWS">Study, Work, Study</option>' +
                                        '<option value="SSS">Study, Study, Study</option>' +
                                        '<option value="WSS">Work, Study, Study</option>' +
                                        '<option value="WSW">Work, Study, Work</option>' +
                                        '<option value="WWS">Work, Work, Study</option>' +
                                    '</select>' +
                                '</div>' +
                            '</div>';
            } else {
                div_str =   '<div class="control-group">' +
                                '<label class="control-label" for="'+year+'_sequence">Year '+year+' Sequence</label>' +
                                '<div class="controls">' +
                                    '<select id="'+year+'_sequence" name="'+year+'_sequence" >' +
                                        '<option value="SSS">Study, Study, Study</option>' +
                                        '<option value="SSO">Study, Study, Off</option>' +
                                        '<option value="SOS">Study, Off, Study</option>' +
                                        '<option value="OSS">Off, Study, Study</option>' +
                                    '</select>' +
                                '</div>' +
                            '</div>';
            }
            $('#sequence').append(div_str);
        }
    }

    $('#program_length').change(function() {
        append_sequence_selects();
    });
    $('#current_year').change(function() {
        append_sequence_selects();
    });
    $('#coop').change(function() {
        append_sequence_selects();
    });
    append_sequence_selects();
});

//empty()

</script>

{% endblock %}