{% extends "base.html" %}

{% block title %} Budget Planning {% endblock %}

{% block planning %}active{% endblock %}

{% block content %}

<br/>


<div class="container">
    <div class="alert">  
        <a class="close" data-dismiss="alert">×</a>  
        <h4>This plan uses the typical costs of living in Waterloo. You can adjust any numbers by clicking on it. </h4>
 
    </div>  
<div class="row">
<div class="span12 bordered">
<table class="table fixed" style="width:95%;">
    <thead>
        <tr>
            <td style="width:130px;"></td>
            {% for year in budget_user.remaining_years %}
            <th colspan="3">Year {{year}}</th>
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            {% for term in budget_user.remaining_terms %}
                <td>{{term}}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><b>Beginning Balance</b></td>
            {% for year in budget_user.remaining_years %}
            <td style="color:green;"><div id="{{year}}F_cumu_sum"></div> </td>
            <td style="color:green;"><div id="{{year}}W_cumu_sum"></div></td>
            <td style="color:green;"><div id="{{year}}S_cumu_sum"></div></td>
            {% endfor %}
        </tr>

        <tr>
            <td><b>Income</b></td>
        </tr>
        {% for row in data.income %}
        <tr>
            <td>{{row.label}}</td>
            {% for item in row.data %}
            <td style="color:green;"><div class="edit {{item.class}}_inflow" id="{{item.id}}">{{item.amount}}</div> </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td><b>Total Income</b></td>
            {% for year in budget_user.remaining_years %}
            <td style="color:green;"><div id="{{year}}F_inflow_sum"></div> </td>
            <td style="color:green;"><div id="{{year}}W_inflow_sum"></div></td>
            <td style="color:green;"><div id="{{year}}S_inflow_sum"></div></td>
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            
        </tr>
        <tr>
            <td><b>Outflows</b></td>
            
        </tr>
        {% for row in data.expense %}
        <tr>
            <td>{{row.label}}</td>
            {% for item in row.data %}
            <td style="color:red;"><div class="edit {{item.class}}_outflow" id="{{item.id}}">{{item.amount}}</div> </td>
            {% endfor %}
        </tr>
        {% endfor %}

        <tr>
            <td><b>Total Outflow</b></td>
            {% for year in budget_user.remaining_years %}
            <td style="color:red;"><div id="{{year}}F_outflow_sum"></div> </td>
            <td style="color:red;"><div id="{{year}}W_outflow_sum"></div></td>
            <td style="color:red;"><div id="{{year}}S_outflow_sum"></div></td>
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            <td colspan="{{budget_user.remaining_terms}}"></td>
        </tr>
        <tr>
            <td><b>Term Balance</b></td>
            {% for year in budget_user.remaining_years %}
            <td><div id="{{year}}F_term_sum"></div> </td>
            <td><div id="{{year}}W_term_sum"></div></td>
            <td><div id="{{year}}S_term_sum"></div></td>
            {% endfor %}
        </tr>
        <tr>
            <td><b>Money Needed</b></td>
            {% for year in budget_user.remaining_years %}
            <td style="color:red;"><div id="{{year}}F_term_need"></div> </td>
            <td style="color:red;"><div id="{{year}}W_term_need"></div></td>
            <td style="color:red;"><div id="{{year}}S_term_need"></div></td>
            {% endfor %}
        </tr>

    </tbody>
</table>

</div>
</div>
</div>

<script type="text/javascript">

var budget_global = {}

budget_global.sum = 0;
budget_global.TERMS = ['F','W','S'];
budget_global.CURRENT_YEAR = {{budget_user.current_year}};
budget_global.PROGRAM_LENGTH = {{budget_user.program_length}};
budget_global.SAVED = {{budget_user.saved}};
budget_global.INFLOW = 'inflow';
budget_global.OUTFLOW = 'outflow';

function calc_partials(flow) {
    for (var year = budget_global.CURRENT_YEAR; year <= budget_global.PROGRAM_LENGTH; year++) {
        for (var i = 0; i < budget_global.TERMS.length; i++) {

            $('.' + year + budget_global.TERMS[i] + '_' + flow).each(function() {
                budget_global.sum += parseFloat($(this).html());
            });

            $('#' + year + budget_global.TERMS[i] + '_' + flow + '_sum').html(budget_global.sum);
            budget_global.sum = 0;
        }
    }
}

function calc_cumu() {
    var cumu_total = budget_global.SAVED;
    for (var year = budget_global.CURRENT_YEAR; year <= budget_global.PROGRAM_LENGTH; year++) {
        for (var i = 0; i < budget_global.TERMS.length; i++) {
            $('#' + year + budget_global.TERMS[i] + '_cumu_sum').html(cumu_total);
            var inflow = parseFloat($('#' + year + budget_global.TERMS[i] + '_inflow_sum').html());
            var outflow = parseFloat($('#' + year + budget_global.TERMS[i] + '_outflow_sum').html());
            var term_balance = inflow - outflow;
            cumu_total += term_balance;
            if (term_balance > 0) {
                $('#' + year + budget_global.TERMS[i] + '_term_sum').html('<span style="color:green;">' + term_balance  + '</span>');
            } else {
                $('#' + year + budget_global.TERMS[i] + '_term_sum').html('<span style="color:red;">' + term_balance  + '</span>');
            }
            if (cumu_total < 0) {
                $('#' + year + budget_global.TERMS[i] + '_term_need').html(cumu_total);
                cumu_total = 0;
            } else {
                $('#' + year + budget_global.TERMS[i] + '_term_need').html('0');
            }
        }
    }
}

function calc_totals(){
    calc_partials(budget_global.INFLOW);
    calc_partials(budget_global.OUTFLOW);
    calc_cumu();
}


$(document).ready(function() {

    $('.edit').editable('/planning/update/', {
        onblur : 'submit',
        callback : function(value, settings) {
            calc_totals();
        }
    });

    calc_totals();

});

</script>

{% endblock %}
