{% extends "base.html" %}

{% block title %} Budget Planning {% endblock %}

{% block content %}

{{user.first_name}}
<br/>

{{test.income.1.F.Salary}}
<br/>
{{test.income.1.F.Loan}}

<div class="container" style="width:80%;">

<table class="table fixed" style="width:95%;">
    <thead>
        <tr>
            <td></td>
            <th colspan="3">Year 1</th>
            <th colspan="3">Year 2</th>
            <th colspan="3">Year 3</th>
            <th colspan="3">Year 4</th>
        </tr>
        <tr>
            <td></td>
            <td>Fall</td>
            <td>Winter</td>
            <td>Spring</td>
            <td>Fall</td>
            <td>Winter</td>
            <td>Spring</td>
            <td>Fall</td>
            <td>Winter</td> 
            <td>Spring</td>
            <td>Fall</td>
            <td>Winter</td>
            <td>Spring</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><b>Inflows</b></td>
            <td colspan="12"></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><div class="edit 1F_inflow" id="salary_1F">200.00</div> </td>
            <td><div class="edit 1W_inflow" id="salary_1W">200.00</div></td>
            <td><div class="edit 1S_inflow" id="salary_1S">200.00</div></td>
            <td><div class="edit 2F_inflow" id="salary_2F">200.00</div></td>
            <td><div class="edit 2W_inflow" id="salary_2W">200.00</div></td>
            <td><div class="edit 2S_inflow" id="salary_2S">200.00</div></td>
            <td><div class="edit 3F_inflow" id="salary_3F">200.00</div></td>
            <td><div class="edit 3W_inflow" id="salary_3W">200.00</div></td>
            <td><div class="edit 3S_inflow" id="salary_3S">200.00</div></td>
            <td><div class="edit 4F_inflow" id="salary_4F">200.00</div></td>
            <td><div class="edit 4W_inflow" id="salary_4W">200.00</div></td>
            <td><div class="edit 4S_inflow" id="salary_4S">200.00</div></td>
        </tr>
        <tr>
            <td>Loan/OSAP</td>
            <td><div class="edit 1F_inflow" id="div_1">200.00</div> </td>
            <td><div class="edit 1W_inflow" id="div_2">200.00</div></td>
            <td><div class="edit 1S_inflow" id="div_3">200.14</div></td>
            <td><div class="edit 2F_inflow" id="div_4">200.00</div></td>
            <td><div class="edit 2W_inflow" id="div_5">200.00</div></td>
            <td><div class="edit 2S_inflow" id="div_6">200.00</div></td>
            <td><div class="edit 3F_inflow" id="div_7">200.00</div></td>
            <td><div class="edit 3W_inflow" id="div_8">200.00</div></td>
            <td><div class="edit 3S_inflow" id="div_9">200.00</div></td>
            <td><div class="edit 4F_inflow" id="div_10">200.00</div></td>
            <td><div class="edit 4W_inflow" id="div_11">200.00</div></td>
            <td><div class="edit 4S_inflow" id="div_12">200.00</div></td>
        </tr>
        <tr>
            <td>Other</td>
            <td><div class="edit 1F_inflow" id="div_1">200.00</div> </td>
            <td><div class="edit 1W_inflow" id="div_2">200.00</div></td>
            <td><div class="edit 1S_inflow" id="div_3">200.00</div></td>
            <td><div class="edit 2F_inflow" id="div_4">200.00</div></td>
            <td><div class="edit 2W_inflow" id="div_5">200.00</div></td>
            <td><div class="edit 2S_inflow" id="div_6">200.00</div></td>
            <td><div class="edit 3F_inflow" id="div_7">200.00</div></td>
            <td><div class="edit 3W_inflow" id="div_8">200.00</div></td>
            <td><div class="edit 3S_inflow" id="div_9">200.00</div></td>
            <td><div class="edit 4F_inflow" id="div_10">200.00</div></td>
            <td><div class="edit 4W_inflow" id="div_11">200.00</div></td>
            <td><div class="edit 4S_inflow" id="div_12">200.00</div></td>
        </tr>
        <tr>
            <td style="text-align:right;"><b>Total Inflows</b></td>
            <td><div id="1F_inflow_sum"></div> </td>
            <td><div id="1W_inflow_sum"></div></td>
            <td><div id="1S_inflow_sum"></div></td>
            <td><div id="2F_inflow_sum"></div></td>
            <td><div id="2W_inflow_sum"></div></td>
            <td><div id="2S_inflow_sum"></div></td>
            <td><div id="3F_inflow_sum"></div></td>
            <td><div id="3W_inflow_sum"></div></td>
            <td><div id="3S_inflow_sum"></div></td>
            <td><div id="4F_inflow_sum"></div></td>
            <td><div id="4W_inflow_sum"></div></td>
            <td><div id="4S_inflow_sum"></div></td>
        </tr>

        <tr><td colspan="13"></td></tr>

        <tr>
            <td><b>Outflows</b></td>
            <td colspan="12"></td>
        </tr>



    </tbody>
</table>
</div>

<script type="text/javascript">

var budget_global = {}

budget_global.sum = 0;
budget_global.TERMS = ['F','W','S'];
budget_global.YEARS = 4;
budget_global.INFLOW = 'inflow';
budget_global.OUTFLOW = 'outflow';

function calc_totals(flow) {
    for (var year = 1; year <= budget_global.YEARS; year++) {
        for (var i = 0; i < budget_global.TERMS.length; i++) {

            $('.' + year + budget_global.TERMS[i] + '_' + flow).each(function() {
                budget_global.sum += parseFloat($(this).html());
            });

            $('#' + year + budget_global.TERMS[i] + '_' + flow + '_sum').html(budget_global.sum);
            budget_global.sum = 0;
        }
    }
}


$(document).ready(function() {

    $('.edit').editable('/planning/update/', {
        callback : function(value, settings) {
            calc_totals(budget_global.INFLOW);
        }
    });

    calc_totals(budget_global.INFLOW);

});

</script>

{% endblock %}
